{% extends 'layout_boxed.html.twig' %}

{% block title %}Forecast index{% endblock %}

{% block body %}
    <h1>Forecast index</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Temperature</th>
                <th>Wind</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forecast in forecasts %}
            <tr>
                <td>{{ forecast.id }}</td>
                <td>{{ forecast.temperature }}</td>
                <td>{{ forecast.wind }}</td>
                <td>{{ forecast.date ? forecast.date|date('Y-m-d') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_FORECAST_SHOW') %}
                        <a href="{{ path('app_forecast_show', {'id': forecast.id}) }}">show</a>
                    {% endif %}

                    {% if is_granted('ROLE_FORECAST_EDIT') %}
                        <a href="{{ path('app_forecast_edit', {'id': forecast.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% if is_granted('ROLE_FORECAST_NEW') %}
        <a href="{{ path('app_forecast_new') }}">Create new</a>
    {% endif %}
{% endblock %}
